.header__popup-email{
  display: none;
  }
  
  @media screen and (max-width: 768px) {
    .header__popup-email {
    height: 22px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0%;
    padding: 0%;
    text-align: right;
    color: #FFFFFF;
    }
  }