.element__button-delete {
    display: flex;
    position: absolute;
    max-width: 18px;
    min-height: 19.3px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 249px;
    border: none;
    box-sizing: border-box;
    background-size: contain;
    cursor: pointer;
    transition: all 0.5s ease;
    background-image: url("../../../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.element__button-delete:focus {
    outline: none;
}

.element__button-delete:hover {
    opacity: 0.6;
    cursor: pointer;
}