.popup__form-title {
    display: flex;
    align-items: center;
    max-width: 330px;
    width: 100%;
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 900;
    font-style: normal;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .popup__form-title {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    } 
}