.header__email{
  margin-top: 51px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  list-style-type: none;
  }
  
  @media screen and (max-width: 768px) {
    .header__email {
      
    }
  }
