.header__popup{
  display: none;

}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__popup{
      display: none;
      min-height: 100px;
      flex-direction: column;
      align-items: center;
    
  }
}