.element__like  {
    background-image: url("../../../images/heart.svg");
    max-width: 20.76px;
    min-height: 18.13px;
    padding: 11px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    background-size: contain;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-top: 18px;
    transition: all .5s ease;
}

.element__like:focus {
    outline: none;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}