.header {
    width: 100%;
    max-width: 880px;
    min-height: 132px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 551px) and (max-width: 1200px) {
    .header {
        min-width: 95%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}


@media screen and (min-width: 320px) and (max-width: 551px) {
    .header {
        height: 83px;
        margin-top: 0%;
        border-top: 1px solid rgba(84, 84, 84, 0.7);
        max-width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

